
body {
    margin: 0;
    font-size: 1.25rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
}

img {
    margin: 1rem auto;
}

a {
    border-radius: 10px;
    font-weight: 600;
    color: #283F0C;
}

  #header-placeholder {
    height: 6rem; 
    transition: height 0.4s ease;
}

.green {
    background-color: #283F0C;
    color: white;
}

#logo {
    display: flex;
    gap: 1rem;
}

#logo h1 {
    font-size: 1.5rem;
    width: 6rem;
    margin: auto;
}

.donate {
        background-color: #283F0C;
        border-radius: 20px;
        width: 7rem;
        margin: auto;
        color: white;
        text-align: center;
}

.navlinks {
    display: flex;
    gap: .35rem;
}

.navlinks a {
    display: none;
}

.header__hamburger {
    border: none;
    background-color: white;
}

.header__hamburger img {
    width: 2rem;
}

.sidebar {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #283F0C;
    align-items: center;
    top: 0;
    font-size: 1.5rem;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.sidebar a {
    color: white;
    font-weight: 600;
}

.sidebar__closebutton {
        background-color: #283F0C;
        border: none;
        padding: 2rem;
}

.hero__content {
    padding: 0 0;
    text-align: center;
}


.hero__text {
    padding: 1rem 0;
}

.hero__text h1 {
    margin-top: 0;
}

.hero__joinus {
    background-color: white;
    color: #283F0C;
    width: 13rem;
    border-radius: 15px;
    margin: 1rem auto 0rem auto;
}

.learnmore {
    width: 12rem;
    border-radius: 15px;
    margin: 1rem auto;
}

.whatwedo {


}

.whatwedo section {
    margin: 0rem 2rem;
    text-align: center;
}

.calltoaction {
    text-align: center;
}

.foodfinder {
    text-align: center;
    padding: 1rem 0;
}

/* How To Reach */
.contactcontainer {
    text-align: center;
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #1D1D1D;
    color: white;
    width: 100%;
    gap: 15px;
}

.leftfooter {
    width: 50%;
}

.rightfooter {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightfooter .navlinks {
    flex-direction: column;
}

.rightfooter .navlinks a {
    display: block;
    margin-right: 0;
}
footer a {
    /* display: block; */
    color: white;
    font-weight: bold;
}

.socialicons {
    display: flex;
    fill: white;
    filter: invert(1);    
}

.icons {
    height: 30px;
    width: 30px;
}

@media only screen and (min-width: 800px) { 
    .navlinks {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
    }

    .navlinks a {
        display: block;
        margin-right: 1rem;

    }

    .navlinks a:hover:not(.hover) {
        box-shadow: -1px 5px 0px -1px #283F0C;
        border-radius: 0;    
    }

    .hover:hover {
        background-color: #8a2300;
        border-radius: 20px;
        color: white;

    }

    .header__hamburger {
    display: none;
    }

    .hero__content {
        padding: 1rem 0;
        position: relative;
    }

    .hero__text {
        padding: 2rem 2rem;
        position: absolute;
        z-index: 2;
        bottom: 10rem;
        right: 4rem;
        border-radius: 15px;
    }

    .hoursimage {
        width: 60vw;
    }

}

